.git
.dvc
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
.venv/
venv/
bin/
lib/
include/
pyvenv.cfg

references/
data/
reports/
models/
artifacts/
m3l2.db
*.sqlite
*.sqlite3

.env
.env.*
!.env.example
