template/
.DS_Store
bin
lib
pyvenv.cfg
include

*.jar
flink-lib
minio-data/

gen/
__pycache__/


data/
xgb.json
isympy.**
metrics/**
workloads/**/*.jsonl
reports/
models/

references/
.env

allowed_emails.txt