confluent-kafka>=2.4
fastapi
joblib
kafka-python
numpy
paho-mqtt
pandas
pydantic
pyarrow
pyyaml
scikit-learn==1.5.1
SQLAlchemy>=2.0
psycopg[binary]>=3.1
APScheduler>=3.10
torch
uvicorn[standard]
xgboost
typing
dataclasses
pyspark
statsmodels
pytest
httpx
